# Python
__pycache__/
*.py[cod]
*.so
.cache

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env


# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
